{% extends "base.html" %}
{% block title %}Code Classroom  | Home{% endblock %}
{% block main %}

<div class="pageTitleDiv"><h1>{{page.title()}}</h1>
    <div class="pageTitleDivButtons">
        <a href="/settings" class="secondaryButton"><svg width="24" height="24" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M15.53 4.22a.75.75 0 0 1 0 1.06L8.81 12l6.72 6.72a.75.75 0 1 1-1.06 1.06l-7.25-7.25a.75.75 0 0 1 0-1.06l7.25-7.25a.75.75 0 0 1 1.06 0Z" fill="#fff"/></svg>Back</a>
    </div>
</div>
<div class="classroomSettingContainer websiteSettings">
    <div>
        <div class="classroomSettingText">
            <h4>Sign Out</h4>
            <p>This will sign you out of your current session.</p>
        </div>
        <div class="classroomSettingsButtons">
            <a href="/signout" id="signout" class="whiteButton">Sign Out</a>
        </div>
    </div>
    <div>
        <div class="classroomSettingText">
            <h4>Delete Account</h4>
            <p>This will delete you account and all classes that you are the teacher of.</p>
        </div>
        <div class="classroomSettingsButtons">
            <button id="deleteCancelButton" class="whiteButton" style="display: none;">Cancel</button>
            <button id="deleteButton" class="deleteButton">Delete Account</button>
        </div>
    </div>
</div>

<script>
    const deleteButton = document.getElementById('deleteButton');
    const deleteCancelButton = document.getElementById('deleteCancelButton');
    deleteButton.addEventListener('click', () => {
        if (deleteButton.textContent === 'Delete Account') {
            deleteButton.textContent = 'Confirm Delete';
            deleteButton.classList.add('deleteButtonConfirm');
            deleteCancelButton.style.display = 'inline-block';
        } else {
            fetch('/endpoint/account/delete', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
            })
            .then(res => res.json())
            .then(data => {
                if (data.status === "complete") {
                    window.location.href = "/";
                }
            })
            .catch(error => {
                console.error('Error deleting class:', error);
            });
        }

        deleteCancelButton.addEventListener('click', () => {
            deleteButton.textContent = 'Delete Account';
            deleteButton.classList.remove('deleteButtonConfirm');
            deleteCancelButton.style.display = 'none';
        });
    })
</script>


{% endblock %} 