{% extends "base.html" %}
{% block title %}Code Classroom | Home{% endblock %}
{% block main %}

<div class="pageTitleDiv">
    <h1>AI Settings</h1>
    <div class="pageTitleDivButtons">
        <a href="/settings" class="secondaryButton"><svg width="24" height="24" fill="none" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M15.53 4.22a.75.75 0 0 1 0 1.06L8.81 12l6.72 6.72a.75.75 0 1 1-1.06 1.06l-7.25-7.25a.75.75 0 0 1 0-1.06l7.25-7.25a.75.75 0 0 1 1.06 0Z"
                    fill="#fff" />
            </svg>Back</a>
    </div>
</div>
<div class="classroomSettingContainer websiteSettings">
    <h3>General Settings</h3>
    <div>
        <div class="classroomSettingText">
            <h4>Disable AI Tools</h4>
            <p>This will disable and hide all of the AI tools.</p>
        </div>
        <input type="checkbox" id="generalSettings" class="switch">
    </div>
    <h3>Weak Topics</h3>
    <div>
        <div class="classroomSettingText">
            <h4>Disable Weak Topics</h4>
            <p>This will disable and hide Weak Topics.</p>
        </div>
        <input type="checkbox" id="weakTopics" class="switch">
    </div>
    <h3>Task Summary</h3>
    <div>
        <div class="classroomSettingText">
            <h4>Disable Task Summary</h4>
            <p>This will disable and hide Task Summary.</p>
        </div>
        <input type="checkbox" id="taskSummary" class="switch">
    </div>
    <h3>Idea Creator</h3>
    <div>
        <div class="classroomSettingText">
            <h4>Disable Idea Creator</h4>
            <p>This will disable and hide Idea Creator.</p>
        </div>
        <input type="checkbox" id="ideaCreator" class="switch">
    </div>
    <h3>Learning Path</h3>
    <div>
        <div class="classroomSettingText">
            <h4>Disable Learning Path</h4>
            <p>This will disable and hide Learning Path.</p>
        </div>
        <input type="checkbox" id="learningPath" class="switch">
    </div>
</div>

<button id="saveButton" class="primaryButton" style="margin-top: 16px;"><svg width="24" height="24" fill="none"
        viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M3 5.75A2.75 2.75 0 0 1 5.75 3h9.964a3.25 3.25 0 0 1 2.299.952l2.035 2.035c.61.61.952 1.437.952 2.299v9.964A2.75 2.75 0 0 1 18.25 21H5.75A2.75 2.75 0 0 1 3 18.25V5.75ZM5.75 4.5c-.69 0-1.25.56-1.25 1.25v12.5c0 .69.56 1.25 1.25 1.25H6v-5.25A2.25 2.25 0 0 1 8.25 12h7.5A2.25 2.25 0 0 1 18 14.25v5.25h.25c.69 0 1.25-.56 1.25-1.25V8.286c0-.465-.184-.91-.513-1.238l-2.035-2.035a1.75 1.75 0 0 0-.952-.49V7.25a2.25 2.25 0 0 1-2.25 2.25h-4.5A2.25 2.25 0 0 1 7 7.25V4.5H5.75Zm10.75 15v-5.25a.75.75 0 0 0-.75-.75h-7.5a.75.75 0 0 0-.75.75v5.25h9Zm-8-15v2.75c0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75V4.5h-6Z"
            fill="#fff" />
    </svg>Save</button>

<script>
    const generalSettings = document.getElementById('generalSettings');
    const weakTopics = document.getElementById('weakTopics');
    const taskSummary = document.getElementById('taskSummary');
    const ideaCreator = document.getElementById('ideaCreator');
    const learningPath = document.getElementById('learningPath');
    const saveButton = document.getElementById('saveButton');

    if (!settings.WeakTopics && !settings.IdeaCreator && !settings.taskSummary && !settings.LearningPath) {
        generalSettings.checked = true;
    }

    weakTopics.checked = !settings.WeakTopics;
    taskSummary.checked = !settings.taskSummary;
    ideaCreator.checked = !settings.IdeaCreator;
    learningPath.checked = !settings.learningPath;

    generalSettings.addEventListener('change', () => {
        weakTopics.checked = generalSettings.checked;
        taskSummary.checked = generalSettings.checked;
        ideaCreator.checked = generalSettings.checked;
        learningPath.checked = generalSettings.checked;
    });

    saveButton.addEventListener('click', () => {
        fetch('/endpoint/settings/ai', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                WeakTopics: !weakTopics.checked,
                TaskSummary: !taskSummary.checked,
                IdeaCreator: !ideaCreator.checked,
                LearningPath: !learningPath.checked
            })
        }).then(res => {
            if (res.ok) {
                window.location.href = '/settings';
            }
        });
    });
</script>

{% endblock %}