{% extends "base.html" %}
{% block title %}Code Classroom  | Home{% endblock %}
{% block main %}

<div class="pageTitleDiv"><h1>{{page.title()}}</h1></div>
<div class="classroomSettingContainer websiteSettings">
    <a href="/settings/ai">
        <div class="classroomSettingText">
            <h4>AI Settings</h4>
            <p>Change the visibility and function of the AI tools.</p>
        </div>
        <svg width="24" height="24" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M8.47 4.22a.75.75 0 0 0 0 1.06L15.19 12l-6.72 6.72a.75.75 0 1 0 1.06 1.06l7.25-7.25a.75.75 0 0 0 0-1.06L9.53 4.22a.75.75 0 0 0-1.06 0Z" fill="#fff"/></svg>
    </a>
    <a href="/settings/accessibility">
        <div class="classroomSettingText">
            <h4>Accessibility</h4>
            <p>Change some common accessibility settings.</p>
        </div>
        <svg width="24" height="24" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M8.47 4.22a.75.75 0 0 0 0 1.06L15.19 12l-6.72 6.72a.75.75 0 1 0 1.06 1.06l7.25-7.25a.75.75 0 0 0 0-1.06L9.53 4.22a.75.75 0 0 0-1.06 0Z" fill="#fff"/></svg>
    </a>
    <a href="/settings/account">
        <div class="classroomSettingText">
            <h4>Account</h4>
            <p>Change account settings and sign out.</p>
        </div>
        <svg width="24" height="24" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M8.47 4.22a.75.75 0 0 0 0 1.06L15.19 12l-6.72 6.72a.75.75 0 1 0 1.06 1.06l7.25-7.25a.75.75 0 0 0 0-1.06L9.53 4.22a.75.75 0 0 0-1.06 0Z" fill="#fff"/></svg>
    </a>
</div>


{% endblock %} 