:root{
    --code_text_red:#EFAB95;
    --text_primary:#FFFFFF;
    --text_secondary:#DEDEDE;
    --background:#0D0E11;
    --text_theme:#DCD6A4;
    --background_secondary:#1a1d26;
    --background_tertiary:#242935;
    --run_button:#495E48;
    --on_run_button:#C7F0C5;
    --clear_button:#4B2929;
    --on_clear_button:#F0C5C5;
    --primary_button_background:#CCDFFF;
    --primary_button_text:#29354B;
    --secondary_button_background:#1c202b;
    --secondary_button_text:#FFFFFF;
}

body,html{
    background-color: var(--background);
    color: var(--text_primary);
    margin: 0px;
    padding: 0px;
}

*{
    box-sizing: border-box;
}

.loginWithGoogle{
    background-color: var(--primary_button_background);
    color: var(--primary_button_text);
    height: 44px;
    border-radius: 16px;
    border:none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding:0px 24px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    text-decoration: none;
}

.landingPageNavBarTitle{
    font-size: 14px;
    font-weight: 600;
    margin:0px
}

.primaryButton{
    background-color: var(--primary_button_background);
    color: var(--primary_button_text);
    height: 32px;
    border-radius: 16px;
    border:none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding:0px 12px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.primaryButton > svg{
    width: 16px;
    height: 16px;
}

.primaryButton > svg > path{
    fill: var(--primary_button_text);
}


.secondaryButton{
    background-color: var(--secondary_button_background);
    color: var(--secondary_button_text);
    height: 32px;
    border-radius: 16px;
    border:none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding:0px 12px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.secondaryButton > svg{
    width: 16px;
    height: 16px;
}

.secondaryButton > svg > path{
    fill: var(--secondary_button_text);
}

*{
    font-family: "Lexend", sans-serif;
}

.landingPageNavBarButtons{
    display: flex;
    flex-direction: row-reverse;
    gap: 16px;
    margin-left:auto;
}

.landingPageNavBar{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:24px 24px;
    box-sizing: border-box;
}


.title_code_text{
    font-family: "IBM Plex Mono", monospace;
    color:var(--code_text_red);
    font-weight: 400;
}

.landing_page_title{
    font-size: 40px;
    margin:0px;
}

.small_title_top_right{
    color:var(--text_secondary);
    font-size: 14px;
    margin: 32px;
}

.landing_page_description{
    color:var(--text_secondary);
    font-size: 16px;
    margin: 0px;
    max-width: 430px;
}

.landing_page_title_container{
    display: flex;
    gap:24px;
    flex-direction: column;
}

.landing_page_create_account_container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.codeEditor{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: auto;

}

.codeEditor > div{
    background-color: var(--background_secondary);
    width: 376px;
    height: 268px;
    border-radius: 32px 0px 0px 32px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.codeEditorButtons{
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
}

.codeEditorButtons > span{
    background-color: var(--background_tertiary);
    padding: 7px 15px;
    border-radius: 32px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.codeEditorButtons > button{
    border-radius: 32px;
    border:none;
    padding: 7px 15px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin-left: auto;
}

.codeEditorClear{
    background-color: var(--clear_button);
    color: var(--on_clear_button);
}

.codeEditorRunButton{
    background-color: var(--run_button);
    color: var(--on_run_button);
}

.codeEditorInput{
    width: 100%;
    height: 100%;
    border:none;
    box-sizing: border-box;
    padding:0px 16px 16px 16px;
    background-color: var(--background_secondary);
    color: var(--text_primary);
    font-family: "IBM Plex Mono", monospace;
    resize: none;
}

.codeEditorInput:focus{
    outline:none;
}

.landingPageMainContainer{
    display: flex;
    width: 100%;
    height:auto;
    position: absolute;
    top: 50vh;
    left: 0;
    transform: translateY(-50%);
    padding: 0px;
    flex-direction: row;
    padding-left: 64px;
    box-sizing: border-box;
}

.landingPageTitleLoginContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.lowerPageContainer{
    top:100vh;
    position: absolute;
    width: 100%;
    padding:0px 64px 64px 64px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.whyUseSectionContainer{
    width: 100%;
    height:200px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.whyUseSectionContainer > h3{
    margin:0px;
}

.whyUseRessonsContainer{
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
}

.whyuseRessonContainer{
    background-color: var(--background_secondary);
    padding:16px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap:12px;
}

.whyuseRessonContainer > .titleBar{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.whyuseRessonContainer > .titleBar > strong{
    font-size: 16px;
    font-weight: 400;
    color: var(--text_primary);
}

.whyuseRessonContainer > p{
    font-size: 14px;
    color: var(--text_secondary);
    margin:0px;
}

.impoveTeachingFlowContainer{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.impoveTeachingFlowContainer > h3{
    margin: 0px;
}

.impoveTeachingFlowContainer > p{
    color: var(--text_secondary);
    font-size: 14px;
    margin: 0px;
}

.topPublicClassesContainer{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.topPublicClassesContainer > h3{
    margin:0px;
}

.publicClassesContainer{
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 100%;
}

.publicClassesContainer > a{
    width: 100%;
    display: block;
    border-radius: 24px;
    overflow: hidden;
    background-color: var(--background_secondary);
    position: relative;
}

.publicClassesContainer > a > img{
    width: 100%;
    height: 125px;
    object-fit: cover;
}

.pills{
    position: absolute;
    top:12px;
    right:12px;
    height:24px;
    border-radius: 16px;
    display: flex;
    flex-direction: row-reverse;
    gap: 8px;
}

.pills > span{
    height: 100%;
    border-radius: 16px;
    background-color: #0000005d;
    backdrop-filter: blur(5px);
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 12px;
    gap:8px;

}

.pills > span > svg{
    width: 14px;
    height: 14px;
    fill: var(--text_primary);
}

.textContainer{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding:16px;
}

.textContainer > span > h3{
    margin: 0px;
    font-size: 16px;
    margin-bottom: 8px;
    color: var(--text_primary);
}

.textContainer > span > p{
    margin: 0px;
    font-size: 12px;
    color: var(--text_secondary);
}

.textContainer > svg{
    width: 20px;
    height: 20px;
    margin-bottom: auto;
    cursor: pointer;
}

.landingPageBlueOnBackground{
    background-color: #2A3B59;
    filter:blur(80px);
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.landingPageBlueOnBackground1{
    position: absolute;
    top:30vh;
    left:20vw;
}

.landingPageBlueOnBackground2{
    position: absolute;
    top:10vh;
    left:80vw;
    z-index: -1;
}