:root{
    --code_text_red:#EFAB95;
    --text_primary:#FFFFFF;
    --text_secondary:#DEDEDE;
    --background:#0D0E11;
    --text_theme:#CCDFFF;
    --background_secondary:#1a1d26;
    --background_tertiary:#242935;
    --run_button:#495E48;
    --on_run_button:#C7F0C5;
    --clear_button:#4B2929;
    --on_clear_button:#F0C5C5;
    --primary_button_background:#CCDFFF;
    --primary_button_text:#29354B;
    --secondary_button_background:#1c202b;
    --secondary_button_text:#FFFFFF;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: var(--background_secondary);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: var(--background_tertiary);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--text_theme);
}


* {
    scrollbar-color: var(--background_tertiary) var(--background_secondary);
}

.errorMessage{
    height:40px;
    width: 100%;
    background-color: var(--clear_button);
    color: var(--on_clear_button);
    border-radius: 16px;
    display: none;
    align-items: center;
    justify-content: flex-start;
    gap:8px;
    padding: 0px 16px;
}

.errorMessage > p{
    color: var(--on_clear_button) !important;
    font-size: 12px;
}

.errorMessage > svg{
    height: 16px;
    width: 16px;
}

.errorMessage > svg > path{
    fill: var(--on_clear_button);
}

body,html{
    background-color: var(--background);
    color: var(--text_primary);
    margin: 0px;
    padding: 0px;
}

*{
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
}

.loginWithGoogle{
    background-color: var(--primary_button_background);
    color: var(--primary_button_text);
    height: 44px;
    border-radius: 16px;
    border:none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding:0px 24px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    text-decoration: none;
}
.loginWithGoogleSecondary{
    color: var(--primary_button_background);
    background-color: var(--background_secondary);
    height: 44px;
    border-radius: 16px;
    border:none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding:0px 24px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    text-decoration: none;
}

.loginWithGoogleSecondary > svg > path{
    fill: var(--primary_button_background);
}
.landingPageNavBarTitle{
    font-size: 14px;
    font-weight: 600;
    margin:0px;
    text-decoration: none;
    color:var(--text_primary)
}

.primaryButton{
    background-color: var(--primary_button_background);
    color: var(--primary_button_text);
    height: 32px;
    border-radius: 16px;
    border:none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding:0px 12px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}



.primaryButton > svg{
    width: 16px;
    height: 16px;
}

.primaryButton > svg > path{
    fill: var(--primary_button_text);
}


.secondaryButton{
    background-color: var(--secondary_button_background);
    color: var(--secondary_button_text);
    height: 32px;
    border-radius: 16px;
    border:none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding:0px 12px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.secondaryButton > svg{
    width: 16px;
    height: 16px;
}

.secondaryButton > svg > path{
    fill: var(--secondary_button_text);
}

.landingPageNavBarButtons{
    display: flex;
    flex-direction: row-reverse;
    gap: 16px;
    margin-left:auto;
}

.landingPageNavBar{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:24px 24px;
    box-sizing: border-box;
}


.title_code_text{
    font-family: "IBM Plex Mono", monospace;
    color:var(--code_text_red);
    font-weight: 400;
}

.landing_page_title{
    font-size: 40px;
    margin:0px;
}

.small_title_top_right{
    color:var(--text_secondary);
    font-size: 14px;
    margin: 32px;
}

.landing_page_description{
    color:var(--text_secondary);
    font-size: 16px;
    margin: 0px;
    max-width: 430px;
}

.landing_page_title_container{
    display: flex;
    gap:24px;
    flex-direction: column;
}

.landing_page_create_account_container{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.codeEditor{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: auto;

}

.codeEditor > div{
    background-color: var(--background_secondary);
    width: 376px;
    height: 268px;
    border-radius: 32px 0px 0px 32px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.codeEditorButtons{
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
}

.codeEditorButtons > span{
    background-color: var(--background_tertiary);
    padding: 7px 15px;
    border-radius: 32px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.codeEditorButtons > button{
    border-radius: 32px;
    border:none;
    padding: 7px 15px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin-left: auto;
}

.codeEditorClear{
    background-color: var(--clear_button);
    color: var(--on_clear_button);
}

.codeEditorRunButton{
    background-color: var(--run_button);
    color: var(--on_run_button);
}

.codeEditorInput{
    width: 100%;
    height: 100%;
    border:none;
    box-sizing: border-box;
    padding:0px 16px 16px 16px;
    background-color: var(--background_secondary);
    color: var(--text_primary);
    font-family: "IBM Plex Mono", monospace;
    resize: none;
}

.codeEditorInput:focus{
    outline:none;
}

.landingPageMainContainer{
    display: flex;
    width: 100%;
    height:auto;
    position: absolute;
    top: 50vh;
    left: 0;
    transform: translateY(-50%);
    padding: 0px;
    flex-direction: row;
    padding-left: 64px;
    box-sizing: border-box;
}

.faqPageMain{
    display: flex;
    width: 100%;
    height:auto;
    position: absolute;
    top: 80px;
    left: 0;
    padding: 0px 64px;
    flex-direction: column;
    box-sizing: border-box;
    gap:32px;
}

.faqPageMain > div{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.faqPageMain > div > h2{
    margin:0px;
    font-size: 24px;
}

.faqPageMain > div > p{
    color: var(--text_secondary);
    margin:0px;
    font-size: 14px;
}

.landingPageTitleLoginContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.lowerPageContainerContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lowerPageContainer{
    top:100vh;
    position: absolute;
    width: 100%;
    padding:0px 64px 64px 64px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    gap: 32px;
}

.whyUseSectionContainer{
    width: 100%;
    height:200px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.whyUseSectionContainer > h3{
    margin:0px;
}

.whyUseRessonsContainer{
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
}

.whyuseRessonContainer{
    background-color: var(--background_secondary);
    padding:16px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap:12px;
    cursor: pointer;
    transition: filter 0.2s;
}

.whyuseRessonContainer:hover{
    filter: brightness(1.2);
}

.whyuseRessonContainer > .titleBar{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.whyuseRessonContainer > .titleBar > strong{
    font-size: 16px;
    font-weight: 400;
    color: var(--text_primary);
}

.whyuseRessonContainer > p{
    font-size: 14px;
    color: var(--text_secondary);
    margin:0px;
}

.impoveTeachingFlowContainer{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.impoveTeachingFlowContainer > h3{
    margin: 0px;
}

.impoveTeachingFlowContainer > p{
    color: var(--text_secondary);
    font-size: 14px;
    margin: 0px;
}

.topPublicClassesContainer{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.topPublicClassesContainer > h3{
    margin:0px;
}

.publicClassesContainer{
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 100%;
}

.publicClassesContainer > a{
    width: 100%;
    display: block;
    border-radius: 24px;
    overflow: hidden;
    background-color: var(--background_secondary);
    position: relative;
}

.publicClassesContainer > a > img{
    width: 100%;
    height: 125px;
    object-fit: cover;
}

.pills{
    position: absolute;
    top:12px;
    right:12px;
    height:24px;
    border-radius: 16px;
    display: flex;
    flex-direction: row-reverse;
    gap: 8px;
}

.pills > span{
    height: 100%;
    border-radius: 16px;
    background-color: #0000005d;
    backdrop-filter: blur(5px);
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 12px;
    gap:8px;

}

.pills > span > svg{
    width: 14px;
    height: 14px;
    fill: var(--text_primary);
}

.textContainer{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding:16px;
}

.textContainer > span > h3{
    margin: 0px;
    font-size: 16px;
    margin-bottom: 8px;
    color: var(--text_primary);
}

.textContainer > span > p{
    margin: 0px;
    font-size: 12px;
    color: var(--text_secondary);
}

.textContainer > svg{
    width: 20px;
    height: 20px;
    margin-bottom: auto;
    cursor: pointer;
}

.landingPageBlueOnBackground{
    background-color: #2A3B59;
    filter:blur(80px);
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.landingPageBlueOnBackground1{
    position: absolute;
    top:30vh;
    left:20vw;
}

.landingPageBlueOnBackground2{
    position: absolute;
    top:10vh;
    left:80vw;
    z-index: -1;
}

#editor{
    height:100%;
    width: 100%;
}

#editor .monaco-editor {
    font-family: "IBM Plex Mono", monospace !important;
    background-color: var(--background_secondary) !important; /* Custom background color */
}

@keyframes fade_in {
    from {
        opacity: 0;
        transform: translateY(50px);
        scale: 0.95;
    }
    to {
        opacity: 1;
        transform: translateY(0px);
        scale: 1;
    }
}

.lowerPageContainer > container{
    animation: fade_in ease-in both;
    animation-timeline: view();
    animation-range: entry 10% contain 0%;
}

.consoleText{
    white-space: pre-wrap;
    padding:8px 24px;
    box-sizing: border-box;
    margin:0px;
    font-family: "IBM Plex Mono", monospace !important;
    font-size: 14px;
}


#consoleInput{
    margin:16px;
    margin-top:auto;
    background:var(--background_tertiary);
    border-radius: 20px;
    height: 32px;
    border:none;
    padding:4px 16px;
    color:var(--text_primary);
    font-family: "IBM Plex Mono", monospace !important;
    display: none;
}

#consoleInput::placeholder{
    color:var(--text_secondary)
}

#consoleInput:focus{
    outline: none;
    filter: brightness(1.1);
}

.loginContainer{
    width:50vw;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginContentsContainer{
    width:350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap:24px;
}

.loginContentsContainer > div:not(.errorMessage){
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.loginContentsContainer > div > h2{
    margin:0px;
    font-size: 20px;
}

.loginContentsContainer > div > p{
    color: var(--text_secondary);
    margin:0px;
    font-size: 16px;
}

.loginContentsContainer > div > label{
    color: var(--text_secondary);
    font-size: 14px;
}

.loginContentsContainer > div > input{
    height:40px;
    background-color: var(--background_secondary);
    color: var(--text_primary);
    border:none;
    padding:15px 16px;
    border-radius: 16px;
}

.loginContentsContainer > div > input:focus{
    outline:none;
    filter:brightness()
}

.loginContentsContainer > span{
    font-size: 12px;
}

.loginContentsContainer > span > a{
    color: var(--text_theme);
}

#editor .monaco-editor {
    font-family: "IBM Plex Mono", monospace !important;
    background-color: var(--background_secondary) !important; /* Custom background color */
}


.whyUseDialog::backdrop{
    background-color: #0000005d;
    backdrop-filter: blur(5px);
}

.whyUseDialog{
    background-color: var(--background_secondary);
    width: 100%;
    max-width: 800px;
    border-radius: 24px;
    border:none;
    padding:24px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 16px;
    opacity: 0;
    visibility: hidden;
}

.whyUseDialog[open] {
    opacity: 1;
    visibility: visible;
}

.whyUseDialog > .dialogHeader{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.whyUseDialog > .dialogHeader > button{
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:none;
    border:none;
    cursor: pointer;
    border-radius: 16px;
}

.whyUseDialog > .dialogHeader > button:focus{
    outline:none;
}

.whyUseDialog > .dialogHeader > h2{
    margin:0px;
    color: var(--text_primary);
}

.whyUseDialog > p{
    color: var(--text_secondary);
    margin:0px;
    font-size: 14px;
}

.whyUseDialog > img{
    width:100%;
    border:1px solid #353535;
    border-radius: 16px;
}

.whyUseDialog:focus{
    outline:none;
}

@media (max-height:700px) {
    .codeEditor{
        display: none;
    }
    .landingPageMainContainer{
        height:60%;
    }
}

@media (max-width:1000px) {
    .codeEditor{
        display: none !important;
    }
    .landingPageMainContainer{
        height:60%;
    }
    .whyUseRessonsContainer{
        flex-direction: column;
    }
    .publicClassesContainer{
        flex-direction: column;
    }
    .whyUseSectionContainer{
        height: auto;
    }
    .landingPageBlueOnBackground{
        display: none;
    }
}

@media (max-width:600px) {
    .landing_page_create_account_container{
        flex-direction: column;
        gap: 8px;
        width: 100%;
        align-items: center;
    }
    .landing_page_create_account_container > a{
        width: 100%;
    }
    .landingPageTitleLoginContainer{
        width: calc(100% - 64px);
        align-items: center;
        text-align: center;
    }
}