:root{
    --code_text_red:#EFAB95;
    --text_primary:#FFFFFF;
    --text_secondary:#DEDEDE;
    --background:#0D0E11;
    --text_theme:#CCDFFF;
    --background_secondary:#1c202b;
    --background_tertiary:#32394b;
    --run_button:#495E48;
    --on_run_button:#C7F0C5;
    --submit_button:#5E5C48;
    --clear_button:#4B2929;
    --on_clear_button:#F0C5C5;
    --on_submit_button:#F0ECC5;
    --primary_button_background:#CCDFFF;
    --primary_button_text:#29354B;
    --secondary_button_background:#1c202b;
    --secondary_button_text:#FFFFFF;
    --navbar_select_background:#222e46;
    --text_navbar_select:#87B5FF;
    --yellowButtonBackground:#FFF3CC;
    --yellowButtonText:#4B4729;
    --redButtonBackground:#FFCCCC;
    --redButtonText:#4B2929;
}

body,html{
    background-color: var(--background);
    color: var(--text_primary);
    margin: 0px;
    padding: 0px;
}

*{
    font-family: "Lexend", sans-serif;
}

body{
    display: flex;
}

.navBarVerText{
    font-size: 12px;
    margin-top: auto;
    color:var(--text_secondary);
    margin-left:16px;
}

.primaryButton{
    background-color: var(--primary_button_background);
    color: var(--primary_button_text);
    height: 36px;
    border-radius: 20px;
    border:none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding:0px 12px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    text-decoration: none;
}

.primaryButtonSmall{
    background-color: #fff;
    color: var(--background);
    height: 32px;
    border-radius: 20px;
    border:none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding:0px 11px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    text-decoration: none;
}

.primaryButton > svg{
    width: 18px;
    height: 18px;
}

.primaryButton > svg > path{
    fill: var(--primary_button_text);
}

.yellow{
    background-color: var(--yellowButtonBackground);
    color: var(--yellowButtonText);
}

.red{
    background-color: var(--redButtonBackground);
    color: var(--redButtonText);
}


.secondaryButton{
    background-color: var(--secondary_button_background);
    color: var(--secondary_button_text);
    height: 36px;
    border-radius: 20px;
    border:none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding:0px 12px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 14px;
}

.secondaryButtonSmall{
    background-color: var(--background_tertiary);
    color: var(--secondary_button_text);
    height: 32px;
    border-radius: 20px;
    border:none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding:0px 11px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    text-decoration: none;
}

.secondaryButton > svg{
    width: 18px;
    height: 18px;
}

.secondaryButton > svg > path{
    fill: var(--secondary_button_text);
}

.tertiaryButton{
    background-color: var(--background_tertiary);
    color: var(--text_secondary);
    height: 36px;
    border-radius: 20px;
    border:none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding:0px 12px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.tertiaryButton > svg{
    width: 18px;
    height: 18px;
}

.tertiaryButton > svg > path{
    fill: var(--text_secondary);
}

.tertiaryButton:disabled{
    background-color: #2f333f;
    cursor: not-allowed;
}

.navSideBar{
    min-width: 224px;
    max-width: 224px;
    height: 100vh;
    background-color: var(--background_secondary);
    display: flex;
    flex-direction: column;
    z-index: 100;
    transition: .1s ease-in-out min-width,max-width;
    overflow: hidden;
}

.minimize{
    min-width: 64px !important;
    max-width: 64px !important;
}

.navbarTitle > span{
    max-width: 100%;
    overflow: hidden;
    transition: .15s ease-in-out max-width;
}

.minimize > .navbarTitle > span{
    display: none;
    max-width: 0%;
}

.minimize > .navbarTitle{
    justify-content: center;
}

.navbarTitle{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding:20px 16px;
    box-sizing: border-box;
}

.navbarTitle > span{
    display: flex;
    align-items: center;
    gap:8px;
}

.navbarTitle > span > svg{
    width: 18px;
    height: 18px;
}

.minimizeNavBarButton{
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.minimizeNavBarButton > svg{
    width: 18px;
    height: 18px;
}

.pageMenu{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px 17px;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
}

.pageMenu > a{
    text-decoration: none;
    color: var(--text_secondary);
    display: flex;
    align-items: center;
    gap:8px;
    font-size: 14px;
    padding: 6px;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    user-select: none;
}

.pageMenu > a > span{
    white-space: nowrap;
    overflow: hidden;
}

.pageMenu > a > i{
    margin-left: auto;
    transform: rotate(0deg);
    transition: .15s ease-in-out transform;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pageMenu > a > i > svg{
    width: 16px;
    height: 16px;
}

.pageMenu > a > i > svg > path{
    background-color: var(--text_secondary);
}

.optionContainerNavBarButtonActive  > i{
    transform: rotate(180deg) !important;
}

/* .pageMenu > a > span:not(.minimize > .pageMenu > a > span){
    animation: status_text_load .4s;
} */

.pageMenu > a > svg{
    width: 18px;
    height: 18px;
}

.pageMenuCurrentPage{
    background-color: var(--navbar_select_background);
    color: var(--text_navbar_select) !important;
}

.pageMenuCurrentPage:not(.redpageMenu,.orangepageMenu,.greenpageMenu,.bluepageMenu,.purplepageMenu,.pinkpageMenu) > svg > path{
    fill: var(--text_navbar_select);
}

.pageMenuCurrentPage.redpageMenu{
    background-color: #462222;
    color:#fff  !important;
}

.pageMenuCurrentPage.orangepageMenu{
    background-color: #463822;
    color:#fff  !important;
}

.pageMenuCurrentPage.greenpageMenu{
    background-color: #224622;
    color:#fff  !important;
}

.pageMenuCurrentPage.bluepageMenu{
    background-color: #222c46;
    color:#fff  !important;
}

.pageMenuCurrentPage.purplepageMenu{
    background-color: #462222;
    color:#fff !important;
}

.pageMenuCurrentPage.pinkpageMenu{
    background-color: #462222;
    color:#fff !important;
}

.svg_red > path{
    fill:#E86C6C !important;
}

.svg_orange> path{
    fill:#E8A86C !important;
}

.svg_green> path{
    fill:#6CE86C !important;
}

.svg_blue> path{
    fill:#6c8be8 !important;
}

.svg_purple> path{
    fill:#E86CE8 !important;
}

.svg_pink> path{
    fill:#E86CAA !important;
}

.minimize > .pageMenu{
    padding: 16px 17px;
}

.minimize > .pageMenu > a{
    padding: 6px;
}

.minimize > .pageMenu > a > span{
    display: none;
}

@keyframes status_text_load{
    0%{
        opacity: 0;
        display: none;
    }
    30%{
        opacity: 0;
        display: none;
    }
    100%{
        opacity: 1;
        display: inline-block;
    }
    
}

main{
    padding:32px;
    box-sizing: border-box;
    width: 100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.pageTitleDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    width: 100%;
}

.pageTitleDiv > h1{
    margin: 0px;
    font-size: 24px;
    margin:4px 0px
}

.pageTitleSearchBar{
    background-color: var(--background_secondary);
    padding:8px 16px;
    display: flex;
    gap: 8px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.pageTitleSearchBar > input{
    height: 20px;
    border:none;
    padding: 0px;
    background:none;
    color:var(--text_primary);
    width: 400px;
}

.pageTitleSearchBar > input:focus{
    outline: none;
}

.pageTitleSearchBar:has(input:focus){
    background-color: var(--background_tertiary) !important;
}

.pageTitleDivButtons{
    display: flex;
    gap: 8px;
    margin-left: auto;
}

.classesContainer{
    width: 100%;
    height: 64px;
    margin-top:32px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.classesContainer{
    width: 100%;
    height: 64px;
    margin-top:32px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.classesContainer > a{
    width: 315px;
    display: block;
    border-radius: 24px;
    overflow: hidden;
    background-color: var(--background_secondary);
    position: relative;
    text-decoration: none;
}

.classesContainer > a > img{
    width: 100%;
    height: 125px;
    object-fit: cover;
}

.pills{
    position: absolute;
    top:12px;
    right:12px;
    height:24px;
    border-radius: 16px;
    display: flex;
    flex-direction: row-reverse;
    gap: 8px;
    z-index: 20;
}

.pills > span, .pills > button{
    height: 100%;
    border-radius: 16px;
    background-color: #0000005d;
    backdrop-filter: blur(5px);
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 12px;
    gap:8px;
    border:none;
    color:var(--text_primary)
}

.pills > button{
    cursor: pointer;
}


.pills > span > svg,.pills > button > svg{
    width: 14px;
    height: 14px;
    fill: var(--text_primary);
}

.textContainer{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding:16px;
}

.textContainer > span > h3{
    margin: 0px;
    font-size: 16px;
    margin-bottom: 8px;
    color: var(--text_primary);
}

.textContainer > span > p{
    margin: 0px;
    font-size: 12px;
    color: var(--text_secondary);
}

.textContainer > svg{
    width: 20px;
    height: 20px;
    margin-bottom: auto;
    cursor: pointer;
}

.textContainerbuttons{
    display: flex;
    gap: 8px;
    margin:0px 16px;
    box-sizing: border-box;
    margin-bottom: 16px;
}

.textContainerbuttons > .primaryButton{
    width: 100%;
}


.textContainerbuttons > button:not(.primaryButton){
    width: 150px;
}

.bottomNavButtons{
    height:64px;
    width: 100%;
    padding:16px;
    display: flex;
    box-sizing: border-box;
    gap:8px;
}

.bottomNavButtons > a{
    background-color: var(--background_tertiary);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor: pointer;
}

.bottomNavButtons > a > svg{
    width: 16px;
    height: 16px;
}

.minimize > .bottomNavButtons{
    height:auto;
    flex-direction: column;
}

.minimize > .bottomNavButtons > a{
    height: 32px;
}

.optionContainerNavBar{
    display: flex;
    padding-left:8px;
    gap:8px;
    flex-direction: column;
}

.optionContainerNavBar > a{
    height:30px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    width: 100%;   
    gap:8px;
    padding-left:8px;
    font-size: 14px;
    text-decoration: none;
    color: var(--text_secondary);
}

.optionContainerNavBar > a > svg{
    width: 16px;
    height: 16px;
}

.mainQuickCode{
    width: 100%;
    height: 100%;
    display: flex;
    gap:8px;
    flex-direction: row;
    overflow: hidden;
}

.mainQuickCode > div{
    height: 100%;
    width: 100%;
    background-color: var(--background_secondary);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
}

.leftPanelTaskPage{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background: none !important;
}

.leftPanelTaskPage > div{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: var(--background_secondary);
    border-radius: 24px;
    box-sizing: border-box;
}

.instructionWindow{
    height:50% !important;
    background:none !important;
    min-height: unset !important;
}

.instructionWindowContent{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    box-sizing: border-box;
    background-color: var(--background_secondary);
    border-radius: 24px;
}

.instructionWindowTopBar{
    width: 100%;
    height: 80px;
    position: relative;
}

.instructionWindowTopBar > img{
    width: 100%;
    height: 80px;
    object-fit: cover;
    border-radius: 24px;
}

.instructionWindowTopBar > h2{
    position: absolute;
    top:50%;
    left:32px;
    transform: translateY(-50%);
    margin:0px
}

.codeEditorTopBar{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.codeEditorTopBar > span{
    background-color: var(--background_tertiary);
    padding: 7px 15px;
    border-radius: 32px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.codeEditorTopBar > span > svg{
    width: 16px;
    height: 16px;
}

.codeEditorTopBar > span > svg > path{
    fill: var(--text_secondary);
}

.codeEditorTopBar > button{
    border-radius: 32px;
    border:none;
    padding: 7px 15px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin-left: auto;
    font-size: 16px;
}

.codeEditorTopBar > button > svg{
    width: 16px;
    height: 16px;
}

.codeEditorClear{
    background-color: var(--clear_button);
    color: var(--on_clear_button);
}

.codeEditorClear > svg > path{
    fill: var(--on_clear_button);
}

.codeEditorRunButton{
    background-color: var(--run_button);
    color: var(--on_run_button);
}

.codeEditorRunButton > svg > path{
    fill: var(--on_run_button);
}

#editor{
    height:100%;
    width: 100%;
}

#editor .monaco-editor {
    font-family: "IBM Plex Mono", monospace !important;
    background-color: var(--background_secondary) !important; /* Custom background color */
}

.consoleText{    
    height: calc(100% - 128px);
    overflow: auto ;
    white-space: pre-wrap;
    padding:16px;
    box-sizing: border-box;
    margin:0px;
    font-family: "IBM Plex Mono", monospace !important;
}

#consoleInput{
    margin:8px;
    margin-top:auto;
    background:var(--background_tertiary);
    border-radius: 20px;
    height: 32px;
    border:none;
    padding:4px 16px;
    color:var(--text_primary);
    font-family: "IBM Plex Mono", monospace !important;
}

#consoleInput::placeholder{
    color:var(--text_secondary)
}

#consoleInput:focus{
    outline: none;
    filter: brightness(1.1);
}

.bottomCodeBar{
    width: 100%;
    height:32px;
    background-color: red;
    justify-content: center;
    align-items: center;
}

.bottomCodeBar > span{
    color: var(--text_secondary);
    font-size: 12px;
}






@media (max-width:1000px) {
    .mainQuickCode{
        flex-direction: column;
    }
}

.classBannerContainer{
    background-color: var(--background_secondary);
    width: 100%;
    min-height: 200px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    position: relative;
}

.classBannerContainer > img{
    width: 100%;
    height: 100%;
    border-radius: 24px;
    object-fit: cover;
    position: absolute;
    top:0px;
    left:0px;
    z-index: 1;
    opacity: 90%;
}

.classBannerText{
    margin-left:64px;
    display: flex;
    flex-direction: column;
    gap:16px;
    z-index: 2;
    opacity: 1;
    transition: .2s opacity ease;
}

.classBannerTextToggle{
    height: 100%;
    margin: 0px;
    padding: 16px;
    box-sizing: border-box;
}

.classBannerText > h1{
    margin: 0px;
    font-size: 32px;
    color: var(--text_primary);
}

.classBannerText > p{
    margin: 0px;
    font-size: 16px;
    color: var(--text_secondary);
}

.classCodeText{
    position: absolute;
    bottom:0%;
    left:50%;
    transform: translate(-50%,0%);
    z-index: 3;
    margin:0px;
    margin-bottom: 16px;
    display: block;
    transition: .2s opacity ease;
    font-size: 14px;
    font-weight: normal;
    color: var(--text_secondary);
    transition: .2s all ease-in-out, .15s transform ease-in-out;
}

.classCodeTextExpand{
    margin:0px;
    bottom:50%;
    left:50%;
    transform: translate(-50%,50%) scale(3.5);
    font-weight: bold;
    color: var(--text_primary);
}

.classBannerText{
    transition: margin .2s ease;
}

.classBannerTextExpand{
    height: 100%;
    margin: 0px;
    padding: 24px 24px 24px 0px;
    margin:0px 0px 0px 24px;
    box-sizing: border-box;
    justify-content: space-between;

}

.classBannerTextExpand > h1{
    font-size:16px;
}

.classBannerTextExpand > p{
    font-size: 12px;
}

.classroomContentContainer{
    width: 100%;
    height: 100%;
    margin-top:8px;
    box-sizing: border-box;
    display: flex;
    gap:16px;
    flex-direction: row;
}

.classroomContentContainer > div{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap:8px;
}

.classroomTitleContainer{
    width: 100%;
    background-color: var(--background_secondary);
    height:44px;
    display: flex;
    border-radius: 16px;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    box-sizing: border-box;
}

.classroomTitleContainer > strong{
    color: var(--text_primary);
    font-size: 16px;
}

.classroomTitleContainer > button{
    display: flex;
    padding:4px;
    border:none;
    border-radius: 16px;
    background: none;
    cursor: pointer;
}

.classroomTitleContainer > button > svg{
    width:20px;
    height:20px;
}

.messageContainer,.taskContainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:8px;
}

.messageContainer > span{
    background-color: var(--background_secondary);
    display: flex;
    flex-direction: column;
    padding:16px;
    border-radius: 16px;
    gap:16px;
}

.messageContainer > span > .messageTitleContainer{
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    gap:8px
}

.messageContainer > span > .messageTitleContainer > p{
    margin: 0px;
    font-size: 14px;
    color: var(--text_secondary);
    margin-left: auto;
}

.messageTitleContainer > svg{
    width: 20px;
    height: 20px;
}

.messageContainer > span > p{
    margin:0px;
    font-size: 12px;
    color: var(--text_secondary);
}

.messageTitleContainer > svg > path{
    fill: #EE7777;
}

.taskContainer > span{
    width: 100%;
    display: flex;
    height:44px;
    background-color: var(--background_secondary);
    border-radius: 16px;
    align-items: center;
    padding:16px;
    box-sizing: border-box;
    gap:8px;
}

.taskContainer > span > svg{
    width: 20px;
    height: 20px;
}

.taskContainer > span > svg > path{
    fill: #EE7777;
}

.taskContainer > span > strong{
    margin: 0px;
    font-size: 16px;
    color: var(--text_primary);
}

.taskContainer > span > p{
    margin:0px;
    margin-left:auto;
    font-size: 12px;
    color: var(--text_secondary);
}

.taskIndercater{
    width:8px;
    height: 8px;
    background-color: #64DF59;
    border-radius: 50%;
    border:4px solid #2C5033;
}

.taskIndercater.completed{
    background-color: #64DF59;
    border:4px solid #2C5033;
}

.taskIndercater.notcompleted{
    background-color: #eec677;
    border:4px solid #50432c;
}

.taskIndercater.missing{
    background-color: #EE7777;
    border:4px solid #50302c;
}

.messageInputContainer{
    width: 100%;
    display: flex;
    gap:12px;
    align-items: end;
    padding:8px;
    box-sizing: border-box;
    background-color: var(--background_secondary);
    border-radius: 16px;
    flex-direction: column;
    display: none;
}

.messageInputContainer > div{
    width: 100%;
    display: flex;
    gap:12px;
    align-items: end;
    padding:16px;
    box-sizing: border-box;
    background-color: var(--background_tertiary);
    border-radius: 12px;
    flex-direction: column;
}

.messageInputContainerExpand{
    display: flex;
}

.messageInputContainer> div > textarea{
    width: 100%;
    height: 50px;
    border:none;
    background-color: var(--background_tertiary);
    color: var(--text_primary);
    padding: 0px;
    resize: none;
    box-sizing: border-box;
    font-size: 14px;
}

.messageInputContainer > div > textarea:focus{
    outline: none;
}

.messageInputContainer > div:has(textarea:focus){
    outline: 2px solid #ccdfff60;
}

.messageInputContainer > div > div{
    display: flex;
    gap:8px;
    align-items: center;
    flex-direction: row;
}

.instructionWindowContent > div{
    margin-top: auto;
    flex-direction: row-reverse;
    gap:8px;
    display: flex;

}

.weakTopicsContainer{
    height: 474px;
}

.weakTopicsContainer > h3{
    margin:0px;
    margin-left:16px;
    font-size: 12px;
}

.weakTopicsContainer > h4{
    margin:0px;
    margin-left:16px;
    margin-top: 16px;
    font-size: 12px;
    color: var(--text_secondary);
    font-weight: normal;
}

.weakTopicsTasks{
    width: 100%;
    padding: 0px 16px;
    display: flex;
    gap:8px;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    margin-top:8px;
}

.weakTopicsTasks > span{
    width: 100%;
    height: 100%;
    background-color: var(--background_tertiary);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:2px;
    padding:12px;
    box-sizing: border-box;
}

.weakTopicTaskTitleContainer{
    width:100%;
    display: flex;
    gap:8px;
    align-items: center;
    justify-content: start;
}

.weakTopicTaskTitleContainer > svg{
    width: 16px;
    height: 16px;
    fill: var(--on_submit_button);
}

.weakTopicTaskTitleContainer > svg > path{
    fill: var(--on_submit_button);
}


.weakTopicTaskTitleContainer > strong{
    margin:0px;
    font-size: 13px;
    color: var(--text_primary);
}

.weakTopicsTasks > span > p{
    margin:0px;
    font-size: 12px;
    color: var(--text_secondary);
    width: 100%;
    margin-top:8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.weakTopicsContainer > .weakTopics{
    width: 100%;
    height:50px;
    padding:0px 16px;
    box-sizing: border-box;
    margin-top:12px;
    display: flex;
    gap:8px;
    align-items: center;
}

.weakTopicsContainer > .weakTopics > span{
    width: 100%;
    height: 100%;
    background-color: var(--background_tertiary);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:2px;
}

.weakTopicsContainer > .weakTopics > span > strong{
    margin:0px;
    font-size: 12px;
    color: var(--text_primary);
    font-weight: normal;
}

.container404{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.container404 > h2{
    font-size: 32px;
    margin:0px;
}