{% extends "base.html" %}
{% block title %}Code Classroom | Create Class{% endblock %}
{% block main %}

<main class="createClassMain">
    <div class="pageTitleDiv">
        <h1>{{page.title()}}</h1>
    </div>
    <div class="createClassForm">
        <div class="errorMessage" id="errorMessage">
            <svg width="24" height="24" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M12 1.999c5.524 0 10.002 4.478 10.002 10.002 0 5.523-4.478 10.001-10.002 10.001-5.524 0-10.002-4.478-10.002-10.001C1.998 6.477 6.476 1.999 12 1.999Zm0 1.5a8.502 8.502 0 1 0 0 17.003A8.502 8.502 0 0 0 12 3.5Zm-.004 7a.75.75 0 0 1 .744.648l.007.102.003 5.502a.75.75 0 0 1-1.493.102l-.007-.101-.003-5.502a.75.75 0 0 1 .75-.75ZM12 7.003a.999.999 0 1 1 0 1.997.999.999 0 0 1 0-1.997Z"
                    fill="#ffffff" />
            </svg>
            <p id="errorMessageText">Invalid Username or Password</p>
        </div>
        <div>
            <label for="className">Class Title</label>
            <input maxlength="20" type="text" id="className" name="className" placeholder="Class Title">
        </div>
        <div>
            <label for="classSubTitle">Class Subtitle</label>
            <input maxlength="30" type="text" id="classSubTitle" name="classSubTitle" placeholder="Class Subtitle">
        </div>
        <div>
            <label for="classDescription">Class Description</label>
            <textarea maxlength="100" id="classDescription" name="classDescription"
                placeholder="Class Description"></textarea>
        </div>
        <div>
            <label>Class Color</label>
            <!-- <div class="coverImageContainer">
                <div class="imagesLeft">
                    <span><img id="imagesLeft1"></span>
                    <span><img id="imagesLeft2"></span>
                </div>
                <div class="mainImage">
                    <img id="mainImage">
                    <button class="nextImageLeft" id="nextImageLeft"><svg width="24" height="24" fill="none"
                            viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M15.53 4.22a.75.75 0 0 1 0 1.06L8.81 12l6.72 6.72a.75.75 0 1 1-1.06 1.06l-7.25-7.25a.75.75 0 0 1 0-1.06l7.25-7.25a.75.75 0 0 1 1.06 0Z"
                                fill="#ffffff" />
                        </svg></button>
                    <button class="nextImageRight" id="nextImageRight"><svg width="24" height="24" fill="none"
                            viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8.47 4.22a.75.75 0 0 0 0 1.06L15.19 12l-6.72 6.72a.75.75 0 1 0 1.06 1.06l7.25-7.25a.75.75 0 0 0 0-1.06L9.53 4.22a.75.75 0 0 0-1.06 0Z"
                                fill="#ffffff" />
                        </svg></button>
                </div>
                <div class="imagesRight">
                    <span><img id="imagesRight1"></span>
                    <span><img id="imagesRight2"></span>
                </div>
            </div> -->
            <div class="classroomCoverImages">
                <span id="blueCover" onclick="setCover('blue')" class="selectedCover"><img src="/static/coverImages/classroomCovers/blueGradient.webp"></span>
                <span id="greenCover" onclick="setCover('green')"><img src="/static/coverImages/classroomCovers/greenGradient.webp"></span>
                <span id="orangeCover" onclick="setCover('orange')"><img src="/static/coverImages/classroomCovers/orangeGradient.webp"></span>
                <span id="pinkCover" onclick="setCover('pink')"><img src="/static/coverImages/classroomCovers/pinkGradient.webp"></span>
                <span id="purpleCover" onclick="setCover('purple')"><img src="/static/coverImages/classroomCovers/purpleGradient.webp"></span>
                <span id="redCover" onclick="setCover('red')"><img src="/static/coverImages/classroomCovers/redGradient.webp"></span>
            </div>
        </div>
        <button id="finishButton" class="primaryButton"><svg width="24" height="24" fill="none" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M4.53 12.97a.75.75 0 0 0-1.06 1.06l4.5 4.5a.75.75 0 0 0 1.06 0l11-11a.75.75 0 0 0-1.06-1.06L8.5 16.94l-3.97-3.97Z"
                    fill="#ffffff" />
            </svg>Finish</button>
    </div>
</main>
<script>
    const setCover = (color) => {
        selectedCover = color;
        document.querySelectorAll(".classroomCoverImages span").forEach(span => {
            span.classList.remove("selectedCover");
        })
        document.getElementById(color + "Cover").classList.add("selectedCover");
    }
    let selectedCover = "blue";
    let coverImages = ["blue", "green", "orange", "pink", "purple", "red"];
    // const nextImageLeft = document.getElementById("nextImageLeft");
    // const nextImageRight = document.getElementById("nextImageRight");
    // const mainImage = document.getElementById("mainImage");
    // const imagesLeft1 = document.getElementById("imagesLeft1");
    // const imagesLeft2 = document.getElementById("imagesLeft2");
    // const imagesRight1 = document.getElementById("imagesRight1");
    // const imagesRight2 = document.getElementById("imagesRight2");
    const finishButton = document.getElementById("finishButton");
    const errorMessage = document.getElementById("errorMessage");
    const errorMessageText = document.getElementById("errorMessageText");

    // nextImageLeft.addEventListener("click", () => {
    //     const lastElement = coverImages[coverImages.length - 1];
    //     coverImages.unshift(lastElement);
    //     coverImages.pop();
    //     setImages()
    // });

    // nextImageRight.addEventListener("click", () => {
    //     const firstElement = coverImages[0];
    //     coverImages.push(firstElement);
    //     coverImages.shift();
    //     setImages()
    // });

    const setImages = () => {
        [imagesLeft1, imagesLeft2, mainImage, imagesRight1, imagesRight2].forEach(img => {
            img.classList.remove('slide-animation');
            void img.offsetWidth;
            img.classList.add('slide-animation');
        });

        // Set image sources
        imagesLeft1.src = '/static/coverImages/classroomCovers/' + coverImages[0] + 'Gradient.webp';
        imagesLeft2.src = '/static/coverImages/classroomCovers/' + coverImages[1] + 'Gradient.webp';
        mainImage.src = '/static/coverImages/classroomCovers/' + coverImages[2] + 'Gradient.webp';
        imagesRight1.src = '/static/coverImages/classroomCovers/' + coverImages[3] + 'Gradient.webp';
        imagesRight2.src = '/static/coverImages/classroomCovers/' + coverImages[4] + 'Gradient.webp';
    }

    //setImages()

    finishButton.addEventListener("click", () => {
        const className = document.getElementById("className").value;
        const classSubTitle = document.getElementById("classSubTitle").value;
        const classDescription = document.getElementById("classDescription").value;
        const classColor = coverImages[2];
        if (className === "" || classSubTitle === "" || classDescription === "") {
            errorMessage.style.display = "flex";
            errorMessageText.innerText = "Fill out all fields";
            return;
        } else if (className.length > 20 || classSubTitle.length > 30 || classDescription.length > 100) {
            errorMessage.style.display = "flex";
            errorMessageText.innerText = "Inputs are values are too long";
            return;
        }
        const data = {
            "name": className,
            "subtitle": classSubTitle,
            "description": classDescription,
            "color": classColor
        }
        fetch("/endpoint/class/create", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        }).then(response => response.json()).then(data => {
            if (data.status === "complete") {
                window.location.href = "/classroom/" + data.classId;
            }
            else {
                errorMessage.style.display = "flex";
                errorMessageText.innerText = data.status;
            }
        })
    })

</script>



{% endblock %}