<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lexend:wght@100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/landing_page.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
    <link rel="manifest" href="/static/icons/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-QLQ8CWW1H2');
    </script>
    <title>Code Classroom | FAQ</title>
</head>

<body>
    {% include 'components/landing_navbar.html' %}


    <main class="faqPageMain">
        <h1>FAQ</h1>
        <div>
            <h2>What is Code Classroom?</h2>
            <p>Code Classroom is an all-in-one educational platform designed to streamline the way programming is taught and learned. It combines a powerful browser-based code editor with classroom management tools, making it easy for teachers to assign tasks and for students to submit code.</p>
        </div>
        <div>
            <h2>Do I need to create an account to see how it works?</h2>
            <p>Not at all! You can interact with the live code window on our Landing Page to see what the platform is capable of.</p>
        </div>
        <div>
            <h2>How do I sign up?</h2>
            <p>You can create an account using your email and a unique username, or simply click "Continue with Google" for a one-click setup.</p>
        </div>
    </main>
</body>

</html>