<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800" rel="stylesheet" />
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/auth.css">
    <link rel="apple-touch-icon" sizes="180x180" href="static/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/icons/favicon-16x16.png">
    <link rel="manifest" href="static/icons/site.webmanifest">
    <link rel="mask-icon" href="static/icons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic" rel="stylesheet" />
    <title>Booogle Code | Teach Code The Easy Way</title>
</head>
<body>
    <h3 class="small_title_top_right">Booogle Code</h3>

    <div class="signup_holder">
        <form method="post" class="signup_form">
            <h2>Create an account</h2>
            <p>Teach Code The Easy Way</p>
            <label id="name">Username</label>
            <input type="text" name="username" class="username_input" placeholder="Enter Your Username" required>
            <label id="pass">Password</label>
            <input type="password" name="password" placeholder="Enter Your Password" required>
            <input type="password" name="password2" placeholder="Repeat Your Password" required>
            <button id="signup-btn" class="signup-btn" type="submit">Sign Up</button>
            <a href="/call" class="signup_google">
                <svg fill="#000000" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><title>ionicons-v5_logos</title><path d="M473.16,221.48l-2.26-9.59H262.46v88.22H387c-12.93,61.4-72.93,93.72-121.94,93.72-35.66,0-73.25-15-98.13-39.11a140.08,140.08,0,0,1-41.8-98.88c0-37.16,16.7-74.33,41-98.78s61-38.13,97.49-38.13c41.79,0,71.74,22.19,82.94,32.31l62.69-62.36C390.86,72.72,340.34,32,261.6,32h0c-60.75,0-119,23.27-161.58,65.71C58,139.5,36.25,199.93,36.25,256S56.83,369.48,97.55,411.6C141.06,456.52,202.68,480,266.13,480c57.73,0,112.45-22.62,151.45-63.66,38.34-40.4,58.17-96.3,58.17-154.9C475.75,236.77,473.27,222.12,473.16,221.48Z"></path></g></svg>
            </a>
            <p class="change_up_type">Already have an account? <a href="login">Login</a></p>
        </form>
    </div>


    <div class="landing_page_code_editor">
        <div class="top_button_container_landing_page"><button><svg width="24" height="24" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M5 5.274c0-1.707 1.826-2.792 3.325-1.977l12.362 6.726c1.566.853 1.566 3.101 0 3.953L8.325 20.702C6.826 21.518 5 20.432 5 18.726V5.274Z" fill="#fff"/></svg>Run</button><span>main.py</span></div>
        <div class="landing_page_code_lines">
            <span style="width: 300px;"></span>
            <span style="width: 200px;"></span>
            <span style="width: 150px;"></span>
            <span style="width: 350px;"></span>
            <span style="width: 230px;"></span>
            <span style="width: 130px;"></span>
            <span style="width: 130px;"></span>
            <span style="width: 200px;"></span>
            <span style="width: 150px;"></span>
        </div>
        <div class="bottom_button_container_landing_page"><button><svg width="24" height="24" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M12 2v6a2 2 0 0 0 2 2h6v10a2 2 0 0 1-2 2h-6.81A6.5 6.5 0 0 0 4 11.498V4a2 2 0 0 1 2-2h6Zm1.5.5V8a.5.5 0 0 0 .5.5h5.5l-6-6Zm-1.5 15a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0Zm-2.146-2.354a.5.5 0 0 0-.708 0L5.5 18.793l-1.646-1.647a.5.5 0 0 0-.708.708l2 2a.5.5 0 0 0 .708 0l4-4a.5.5 0 0 0 0-.708Z" fill="#fff"/></svg>Submit</button></div>
    </div>
</body>

</html>